@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an example of keeping track of employees' attendance in an organization<br />This is not a complete application to be deployed for industrial use as security aspect is not completed</p>
